@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rubik&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, white, black);
}

h1 {
    margin: 3rem 0;
    color: #c79de2;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px #4d4040;

}

form {
    margin: 3rem 0;
    border: solid 1px #9673C8;
    padding: 2rem;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #9673C8;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ffffff;
    color: #9673C8;
    border: solid 1px #9673C8;
}

section {
    width: 100%;
    height: 500px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;

}

section h1,
h2,
p {
    margin-top: 5rem;
}

#refresh {
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px #4d4040;
}
